In [257]:
import pandas as pd

In [135]:
pwd

'C:\\Users\\Christian'

In [159]:
data = pandas.read_csv('desktop/table.csv')

In [160]:
data.head(5)

   index  lipidspecies  Sample.1  Sample.2  Sample.3  Sample.4
0      1  IS PC O-30:2  0.001694  0.000955  0.001629  0.002180
1      2  IS PC O-30:1  0.007901  0.005079  0.027494  0.048999
2      3     PC O-30:0  0.029490  0.021908  0.114220  0.178646
3      4       PC 30:2  0.006578  0.001636  0.003852  0.010691
4      5       PC 30:1  0.084977  0.045469  0.080405  0.151318

In [310]:
import pandas as pd

data = pd.read_csv('desktop/table.csv')
# Extract the lipidclass from string
lipidclass_col = []
for i in range(0, len(data)):
    #Get rid off 'IS'-string
    species = data.loc[i,'lipidspecies'].replace('IS ','')
    #Get rid off 'fatty acid sum'-string
    lipidclass_col.append(species.split())
    
data.insert(2, 'lipidclass', [ x[0] for x in lipidclass_col])
data.insert(3, 'FA_sum', [ x[-1] for x in lipidclass_col])

data.head(5)

,index,lipidspecies,lipidclass,FA_sum,Sample.1,Sample.2,Sample.3,Sample.4
0,1,IS PC O-30:2,PC,O-30:2,0.001694,0.000955,0.001629,0.002180
1,2,IS PC O-30:1,PC,O-30:1,0.007901,0.005079,0.027494,0.048999
2,3,PC O-30:0,PC,O-30:0,0.029490,0.021908,0.114220,0.178646
3,4,PC 30:2,PC,30:2,0.006578,0.001636,0.003852,0.010691
4,5,PC 30:1,PC,30:1,0.084977,0.045469,0.080405,0.151318

In [245]:
pd.Series(lipidclass_col).unique()

array(['PC', 'SM', 'LPC', 'PE', 'PS', 'PI', 'PG', 'HexCer', 'Hex2Cer',
       'Cer', 'PA', 'DAG', 'Chol', 'TAG'], dtype=object)

In [221]:
#regex 
import regex as re
###
regexp_class = re.compile(r'^([a-zA-Z23-]{2,10})')
regexp_subclass = re.compile(r'^([a-zA-Z23-]{2,10} (P-|O-))|^([a-zA-Z23-]{2,10})')
re_match = regexp_class.match('PC O-30:0')
re_match.group()
###

'PC'

In [225]:
import pandas as pd
import regex as re

data = pd.read_csv('desktop/table.csv')
# Extract the lipidclass from string
lipidclass_col = []
for i in range(0, len(data)):
    #Get rid off 'IS'-string
    species = data.loc[i,'lipidspecies'].replace('IS ','')
    regexp_class = re.compile(r'^([a-zA-Z23-]{2,10})')
    re_match = regexp_class.match(species)
    lipidclass_col.append(re_match.group())
   
lipidclass_col[0:10]

['PC', 'PC', 'PC', 'PC', 'PC', 'PC', 'PC', 'PC', 'PC', 'PC']